<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11630227735-ebkgm2m1shjtajbd5glvraanabtbuj35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11630227735-ebkgm2m1shjtajbd5glvraanabtbuj35</string>
	<key>API_KEY</key>
	<string>AIzaSyAypCqFyND8wey8TkGv1XG_0n5N5OR4GwI</string>
	<key>GCM_SENDER_ID</key>
	<string>11630227735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.notificationapps</string>
	<key>PROJECT_ID</key>
	<string>realtime-database-demo-ed1c0</string>
	<key>STORAGE_BUCKET</key>
	<string>realtime-database-demo-ed1c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11630227735:ios:9edf814607b52c59bf8752</string>
</dict>
</plist>